<form #postData = "ngForm" (ngSubmit) = "onSubmit(postData.value)">
  <!-- <input type="text" name="userId" placeholder="enter userId" ngModel/><br/> -->
  <input type="text" name="id" placeholder="enter Id" ngModel/><br/>
  <input type="text" name="title" placeHolder="enter title" ngModel/><br/>
  <input type="text" name="body" placeholder="enter body" ngModel/><br/>
  <button>submit</button>
</form>
