table, td, th {
    border : 2px solid black;
    border-collapse : collapse;
    text-align : center;
    font-size : 20px;
    font-family : Arial, Helvetica, sans-;

  
  }
  th{
    color : black;
    padding : 10px;
    height : 20px;
    background-color :blue;
  }
  table {
    width : 100%;
  }
  td {
    height : 20px;
    padding : 15px;
  }
  tr:hover {background-color : #f5f5f5;}
  tr{
    background-color : rgb(229, 231, 233);
  }