.b1{
    float: left;
    margin-left:10px;
     padding: 50px;
    transition: transform .2s;
    width: 200px;
    
    border:1px solid gray; 
}

  .b1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1); 
  } *
 
p {
    align-content: center;
}
.body1 {
  margin-top: -200px;
  padding :10px;
  margin-bottom:-120px;
}
.h1class {
    text-align: center;
}
.griditem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    height:300px;
    width:200px;
    margin-top:-30px;
  }
  .gridcontainer {
    width:200px;
  float:left;
  margin-top: 50px;
  margin-left: 0px;
  }
  .bodyh{
    float:left;
    width:1000px;
    margin-top: 20px;
  margin-left:20px;
}