.navbar{
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: -10px;
    overflow: hidden;
    background-color: #e66565;
    width:100%;
    height:70px;
}
li {
    float:left;
}
li a, .dropbtn{
    display: block;
    padding: 10px;
   color :rgb(204, 198, 198);
   text-decoration: none;
   line-height: 50px;
}
li a:hover {
 color : white;
}
.active {
    background-color: #e66565;
}
.lihelp {
    float:right;
}
.logo {
    width:50px;
    height:50px;
}
.element{
    margin-top: -210px;
}
/* .input-field {
    width: 100%;
    height: 10px;
    padding: 10px;
    outline: none;
    margin-left: 20px;
  } */
#btn {
    font-size: 13px;
    background-color: #e66565;
    color:white;
    
}
.main {
    background-color: white;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    margin: 250px;
    height: 120px;
    margin-left: 130px;
}
.redimg {
    float: left;
    padding: 0px;
    
}
.content {
    float:right;
    padding:-50px;
    margin-top:-85px;
    overflow: auto;
}
.body {
    padding-top: 0px;
    margin-top: -75px;
    margin-left:100px;
}
.some {
    background-color: black;
    color: white;
    width:1370px;
    height:50px;
    margin-top: -17px;
}
.b1{
    float: left;
    margin-left: 250px;
     padding: 0px;
    transition: transform .2s;
    width: 280px;
    margin-top: -130px;
    border:1px solid gray; 
}
.b1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1); 
  } 