.grid-item5 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  height:300px;
  width:200px;
  margin-top:-30px;
}
.grid-container5 {
  width:200px;
float:left;
margin-top: 50px;
margin-left: 0px;


}
  .body1{
      float:left;
      margin-top: 20px;
    margin-left:80px;
  }
  .b2 {
    width: 900px;
    background-color: rgb(236,240,241);
    height:500px;
    margin-left: 40px;
    margin-top: 100px;
  }
  .table{
    width:500;
    float: left;
    margin-top: 170px;
    margin-left: 10px;
    
  }
  .box {
   width: 400;
    float:right;
    margin-top: -390px;
    margin-left:500px;
}
.table1 {
  margin-left: 30px;
  margin-top:30px;
}
.h2-heading{
  border-bottom: 2px solid crimson;
  font-size: 20px;
  text-align: center;
  display: inline;
  margin-left: 20px;
}
.table:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 1px;
  height: 350px;
  top: 1450px;
  left: 50%;
  display: block;
}
.b3{
  width:850px;
  height:300px;
   background-color:rgb(214, 219, 223);
   margin-left: 75px;
   margin-top: 500px;
}

.com1:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 1px;
  height: 250px;
  top: 1870px;
  left: 50%;
  display: block;
}