.footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    
  }
  .footer-item {
    background-color: rgb(194, 193, 193);
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
  .footer-last {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:1010px;
    padding: 10px;
    margin-top:100px;
  }
  .grid-item2 {
    background-color: black;
    
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
  /* .h1heading {
    text-align: center;
  } */