.navbar{
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e66565;
    width:100%;
    height:70px;
}
li {
    float:left;
}
li a, .dropbtn{
    display: block;
    padding: 10px;
   color :rgb(204, 198, 198);
   text-decoration: none;
   line-height: 50px;
}
li a:hover {
 color : white;
}
.active {
    background-color: #e66565;
}
.lihelp {
    float:right;
}
.logo {
    width:50px;
    height:50px;
}
.element{
    margin-top: -210px;
}
/* .input-field {
    width: 100%;
    height: 10px;
    padding: 10px;
    outline: none;
    margin-left: 20px;
  } */
#btn {
    font-size: 13px;
    background-color: #e66565;
    color:white;
    
}
.main {
    background-color: white;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    margin: 250px;
    height: 120px;
    margin-left: 130px;
}
.redimg {
    float: left;
    padding: 0px;

}
.content {
    float:right;
    padding:-50px;
    margin-top:-85px;
    overflow: auto;
}
.body {
    padding-top: 0px;
    margin-top: -75px;
    margin-left:100px;
}
/* .building {
    padding: 10px;
    background:white;
    color: gray;
    height:14px;
    min-width: 15px;
    text-align: center;
    border-color: rgb(210,210,210);
} */
/* .input-container {
    display: -ms-flexbox; /* IE10 */
    /* display: flex;
    width: 100%;
    margin-bottom: 15px;
    border:2px;
    margin-top: -200px;
    float:left;
  }
  .input-container hover{
    color:rgb(65, 65, 241);
  } */ 

  /* .b1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    /* -webkit-transform: scale(1.5); /* Safari 3-8 */
    /* transform: scale(1.5); 
  } */ 
 
/* .mainbody {
    align:center;
} */
  /* li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */
