
 .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 10px;
    font-size: 15px;
    text-align: center;
    height:200px;
    width:200px;
  }
  .grid-container {
    width:300px;
  float:left;
  margin-top: 50px;
  margin-left: 0px;  
  }
  .tex {
  text-align: center;
  }
  .flag-container {
    width:300px;
  float:left;
  margin-top: 50px;
  margin-left: 25px;  
  }
  .flag-item{
    
    padding: 10px;
    font-size: 15px;
    text-align: center;
    height:200px;
    width:200px;
  }
  .img1{
    height:200px;
    width:200px;
  }
  .num-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .num-item {
    background-color: rgba(255, 255, 255, 0.8);
    
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .h1class {
    text-align: center;
    margin-top: 30px;
}