.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    height:200px;
    width:200px;
  }
  .grid-container {
    width:300px;
  float:left;
  margin-top: 50px;
  margin-left: 0px;
  
  
}
.tex {
  text-align: center;
}