<div class="header row">
    <div class="col-sm-3">
        <b class="myspace">myspace</b>
    </div>
    <div class="col-sm-9">
        <img class="userImage img" src="https://demos.subinsb.com/isl-profile-pic/image/person.png" alt="logo" />
        <div class="name">
            <h5>Prashanth</h5>
            <p><button class="logout" (click)="doLogin()">Logout</button>|<a class="logout" 
                    href="#">Change password</a></p>
        </div>
        <!-- <div class="form-group has-search">
            <span class="faa fa fa-search form-control-feedback"></span>
            <input type="text" (Keyup)="onNameKeyUp($event)"> <button (click)="getProfile()">Get Profile</button> </div>
    </div> -->
</div>
