body {
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
  }
  .header {
    background-image: url(https://myspace.innominds.com/public/assets/images/themes/winter/winter.png);
    color: #f1f1f1; 
    background-repeat: no-repeat;
    padding: 0 100px 0  10;
   
  }
  .myspace {
    color: #f1f1f1; 
    background-repeat: no-repeat;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .userImage {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  img{
  background-image: url(https://myspace.innominds.com/public/assets/images/themes/winter/winter.png);
  border-radius: 10%;
  }
  .name {
  position: absolute;
  font-size: 18px;
  margin-left:60px;
  }
  .logout {
    /* position:absolute; */
    margin-left:0px;
    font-size:15px;
    color: aliceblue;
  }
  
  .logout:hover{
    color:#32c766;
  }
  .form-group{
    margin-top: 60px
  }
  
  
  .search{
    border: none;
    border-radius:10px;
  }
  
  .faa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }