@import url(http://weloveiconfonts.com/api/?family=typicons);
@import url(https://fonts.googleapis.com/css?family=Exo:500,700);

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

body {
 background-image: radial-gradient(circle farthest-corner at center, #606060 20%, #414141 100%);
}
#vcard {
  margin: 0 auto;
  width: 100%;
  /* height: 350px; */
  background: #79b7c4;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .3);
}
#card-content {
  /* width: 496px; */
  height: 100%;
}
#side-bar {
  width: 100%;
  float: right;
  background: #fff;
  height: 100%;
  border-radius: 0 4px 4px 0;
  box-shadow: -5px 0px 15px rgba(0,0,0, .3);
}
#options ul {
  margin: 0;
  padding: 0;
  margin-top: 62px;
}
#options ul li{
  text-align: center;
  font-family: Exo;
  font-size: 14px;
  color: #ffffff;
  list-style-type: none;
  display: inline-block;
  width: 123px;
  height: 100px;
  border-right: solid 1px rgba(255,255,255,.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
#options ul li:last-child{

  border-right: none;
}
#options ul li span.icon {
  display: block;
  margin-top: 25px;
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
}

#side-bar ul {
  margin: 0;
  padding: 0;
}
#side-bar ul li{
  
  text-align: center;
  font-family: Exo;
  font-size: 12px;
  color: #414141;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #eaeaea;
  
}
#side-bar ul li:last-child{

  border-bottom: none;
}
#side-bar ul li span.icon {
  display: block;
  margin-top: 55px;
  color: #414141;
  font-size: 36px;
  line-height: 32px;
}

#profile {
  padding-top: 50px;
  text-align: center;
  overflow: hidden;
}
span.avatar span.icon{
  display: inline-block;
  color: #414141;
  font-size: 72px;
  line-height: 100px;
  background: #46af7b;
  border: solid 3px rgba(255,255,255, .2);
  overflow: hidden;
  padding-top: 1px;
  width: 90px;
  height: 90px;
  border-radius: 46px;
}
span.info {
  padding-top: 10px;
  display: block;
  font-family: Exo;
  font-size: 18px;
  color: rgba(255,255,255, .7);
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}


body {
  background: #e7e7e7;
}
.box {
    width: 123px;
    height: 97px;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: 0% auto 0 auto;
    background: url("http://ianfarb.com/wp-content/uploads/2013/10/nicholas-hodag.jpg");
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
}

.overlay {
  width: 123px;
  height: 97px;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  opacity: 0;
  position:absolute;
  margin-top: -104px;
  /* margin-left: -3vw; */
  border-radius: 2px;

}



#plus {
 width: 123px;
    height: 97px;
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 15px;
}

#options ul li:hover .overlay:hover{
width: 123px;
    height: 97px;
  opacity: 0.8;
  margin-top: -82px;
  border-radius: 2px;
}
.faicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    margin-left: 3px;
  margin-top: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}