<!-- <p *ngFor="let info of details">
 {{details.name}}
</p> -->
<!-- <app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm" >
                <form class="form-horizontal" method="post">
                    <fieldset *ngIf="details">
                        <legend class="text-center header">Contact us</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            Employee Id  :<span>   {{details.employeeId}}</span>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            Name : <span>{{details.name}}</span>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            EmailId  :<span>{{details.companyEmailId}}</span>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                           Phone : <span>{{details.primaryMobileNumber}}</span>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            Department : <span>{{details.department}}</span>

                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                          Designation : <span>{{details.designation}}</span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> -->
<div>
    <app-header></app-header>
    <div class="row">
        <div class="col-sm-3">
            <app-left-menu></app-left-menu>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-12">
                <h5>Employee Info</h5>
            </div>
            <div class="col-sm-12 row">
                <div id="vcard" class="col-sm-10">
                    <div id="card-content">
                        <div id="profile">
                            <span class="avatar">
                                <img class="typicons-user icon" style="width: 50px;height: 50px;border-radius: 50%"
                                    src="https://demos.subinsb.com/isl-profile-pic/image/person.png" />
                                <span class="info">
                                    {{details.name}}{{details.employeeId}}<br />
                                    {{details.companyEmailId}}<br />
                                    {{details.primaryMobileNumber}}
                                </span>
                            </span>
                        </div>
                        <div id="options">

                            <ul>
                                <li>
                                    <div class="box"><span class="fa faicon fa-street-view "></span>
                                        <p>JOB STATUS</p>
                                        <div class="overlay"><span id="plus">{{details.jobStatus}}</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="box"><span class="fa faicon fa-user"></span>
                                        <p>EMPLOYEE TYPE</p>
                                        <div class="overlay"><span id="plus">{{details.employmentType}}</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="box"><span class="fa faicon fa-map-marker"></span>
                                        <p>WORK LOCATION</p>
                                        <div class="overlay"><span id="plus">{{details.workLocation}}</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="box"><span class="fa faicon fa-desktop"></span>
                                        <p>DOMAIN</p>
                                        <div class="overlay"><span id="plus">{{details.designation}}</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <span class="typicons-list icon"> <a routerLink="/updateProfile" routerLinkActive="active">Edit</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>