 
        * {
            box-sizing: border-box;
        }

        .left {
           
            padding: 20px 5px;
            float: left;
            height:500px;
            width: 30%;  
            margin-left: 10px;
            overflow-y: auto;         
        }
        .main {
            background-color: #f1f1f1;
            padding: 5px;
            margin-top: 20px; 
            margin-left: 10px;
            float: left;
            width: 40%; 
            border: 2px solid skyblue;
            display: none;        
        }
        body { 
           
            margin: 0 auto; 
            padding: 0 20px;
              
        }
        a{
            text-decoration:none;
        } 
        img{
            border-radius: 50%;
            width:50px;
            height:46px;
            margin-top: -2px;
        }
        .fas{
            margin-left: -27px;
            margin-top: 15px;

        }
        .chat_head {
            list-style-type: none;
            overflow: hidden;
            margin-top: 0px;
            background-color: dodgerblue;
        }
        .mylist{
            float: left;
            margin-left: -30px;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            line-height: 20px;
        }
       input{
         width:235px;
         margin-left:5px;
         height:30px;
         padding:1px;
         margin-top: 10px;
         border-radius: 10px;
          }
        
        .chat {
            float: left; 
            color:blue;
            margin-left: 10px;
            margin-top: 3px;
        }
        .chatlist{
            display: block;
            margin-top: 2px;
            background-color: cornflowerblue;
            
            text-decoration: none;
            border-radius: 5px;
            padding: 5px;
        }
        .chat a {
            display: block;
            background-color: #dddddd;
        }
        .content{
            border:2px solid blue;
            height:500px;
            margin-top:-18px;
        }
        .message_index{
          margin-top: 5px;
          max-height: 380px;
          overflow-y: auto;
           }
        .text{
            width:95%;
            margin-top:8px;
            margin-left:9px;
            margin-right:10px;
            border-radius:12px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .send{
           margin-right:20px;
           line-height: 10px;
           float:right;
           padding:5px;
           width:25%;
           border-radius:12px; 
        }
        .massagebody{
            border:1.2px solid deepskyblue;
            height:400px;
            margin-top:-18px; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
        }
         p{
           float:left;
           margin-left: 10px;
         }
       
        @media screen and (max-width:780px) {

            .left,
            .main
           {
                width: 100%; 

            }
            
            .main{
                margin-right: 50px;
            }  
        }
       
        @media screen and (max-width:280px) {

                .left,
                 .main
                {
                 width:100%;
                  
                 }              
           }
        .border {
            background-color:blueviolet;
            height:85px;
        }
        #nav{ 
            margin-left: -5px;
            height: 50px;
            background-color:lightgrey;
            border:1.2px solid deepskyblue;
            border-radius: 5px;
        }
        .navsearch{
            
                margin-left: -5px;
                height: 50px;
                background-color:lightgrey;
                border:1.2px solid deepskyblue;
                border-radius: 5px;
            }
        