* {
    box-sizing: border-box;
}
.left {
    height:500px;
    padding: 20px 5px;
    float: left;
    width: 35%;
    overflow:auto;
    overflow-x: hidden;
    margin-left:20px;
    overflow-y:auto;
}
.main {
    padding: 5px;
    float: left;
    width:60%;
    /* The width is 60%, by default */  
}
body {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}
a{
    text-decoration:none;
    opacity:0.9;
}
img{
    border-radius: 50%;
    width:50px;
    height:46px;
    margin-top:8px;
    margin-left:5px;
}
.chat_head {
    list-style-type: none;
    overflow: hidden;
     background-color: rgb(7, 160, 152);
}
.chat {
    float: left;               
    color:whitesmoke;
}
.chat a {
    display: block;
    /* padding: 2px; */
    background-color: #dddddd;
}       
/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {

    .left,
    .main {
        width: 100%; 
    }
}
@media screen and (max-width:300px) {

    .left,
    .main{
        width: 100%; 
    }
}
.border {
    background-color:rgb(7, 160, 152);
    height:95px;
}
#nav{
    
    border:1px solid black;
    height:60px;
    background-color:whitesmoke;
}
.fa-arrow-left {
    margin-left:-25px;
    margin-top:15px;
    font-size:20px;
    color:white
}
.chat-list{
    overflow:hidden;
    color:black; 
    text-align:right;
    background-color: rgb(121, 219, 214);
    border-radius:8px;
    margin-top: 10px;
    padding: 5px; 
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 12px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(176, 190, 190); 
    border-radius: 10px;
  }