<!-- <div>
  Name:<input type="text" /><br />
  Password:<input type="password"/><br/>
  <button (click)="postProfile()">Login</button>
</div> -->
<!-- <div class="body">
  <h1 class="heading">
    <span>M</span>y
    <span>S</span>pace
    <span>S</span>ign
    <span>I</span>n
    <span>F</span>orm
  </h1>
  <div class="sub-main-w3">
    <form #userlogin="ngForm" (ngSubmit)="onSubmit(userlogin.value)">
      <div class="form-style-agile">
        <label>UserName<i class="fas fa-user"></i></label>
        <input placeholder="Username" name="username" type="text" ngModel />
      </div>

      <div class="form-style-agile">
        <label>Password<i class="fas fa-unlock-alt"></i></label>
        <input placeholder="Password" name="password" type="password" ngModel />
      </div>
      <input type="submit" value="Log In" />
    </form>
  </div>
  <div style="height:15vw"></div>
</div> -->
<div class="body">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<form #userlogin="ngForm" (ngSubmit)="onSubmit(userlogin.value)">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" name="username" class="form-control" placeholder="username" ngModel>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password"  name="password" class="form-control" placeholder="password" ngModel>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
</div>
<router-outlet></router-outlet>