<app-header></app-header>

<div class="card notifyCard text-white bg-info  mb-3" *ngFor="let event of events">
    <div class="card-header" >{{event.eventId}}</div>
    <div class="card-body">
        <p class="card-text">{{event.eventName}}</p>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">{{event.startDate}}</p>
        <p class="card-text">{{event.endDate}}</p>
        <div class="card-footer">
            <button class="btn btn-warning btn-lg" (click)="doDelete(event.eventId)">Delete</button>
        </div>
    </div><br /><br />
</div>
<app-footer></app-footer>


  <!-- <ul>
  <li *ngFor="let event of events">id:{{event.eventId}}<br/>
    name:{{event.eventName}}<br/>
    description:{{event.description}}<br />
    startDate:{{event.startDate}}<br/>
    endDate:{{event.endDate}}
  </li>
  <button>delete</button>
</ul> -->
