
  .notifyCard {
    max-width: 600px;
    max-height : 250px;
    border-radius:10px;
  
    font-family: 'Times New Roman', Times, serif
  }


  .notifyCard:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }

  .events {
    font-size: 1.5vw;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #79b7c4;
    margin-bottom: 9vw;
}
.notifyCard {
  max-width: 580px;
  max-height: 20em;
  border-radius: 10px;
  font-family: 'Calibri', Times, serif;
}