<div>
  <app-header></app-header>
  <div class="row">
    <div class="col-sm-3">
      <app-left-menu></app-left-menu>
    </div>
    <div>
      <h4>Edit Form</h4>
      <div class="sub-main col-sm-9">
            <form #updatedData="ngForm" (ngSubmit)="onSubmit(updatedData.value)">
          <div class="form-style-agile">
            <label>
              Alternate Mobile No:
              <i class="fa fa-user"></i>
            </label>
            <input type="text" placeholder="Alt mobile no." name="alternativeMobileNumber" [(ngModel)]="details.alternativeMobileNumber" ngModel>
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-style-agile">
            <label>
              Competency
              <i class="fa fa-unlock-alt"></i>
            </label>
            <input type="text" placeholder="Competency" name="competency" [(ngModel)]="details.competency" ngModel>
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-style-agile">
            <label>
              Permenant Location
              <i class="fa fa-unlock-alt"></i>
            </label>
            <input placeholder="Permenant Location" name="permanentLocation" type="text" [(ngModel)]="details.permanentLocation" ngModel />
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-style-agile">
            <label>
              Personal Email
              <i class="fa fa-unlock-alt"></i>
            </label>
            <input placeholder="Personal Email" name="personalEmailId" type="text" [(ngModel)]="details.personalEmailId" ngModel />
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-style-agile">
            <label>
              Primary Mobile Number
              <i class="fa fa-unlock-alt"></i>
            </label>
            <input placeholder="Primary Mobile Number" name="primaryMobileNumber" type="text" [(ngModel)]="details.primaryMobileNumber" ngModel />
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-style-agile">
            <label>
              Work Location
              <i class="fa fa-unlock-alt"></i>
            </label>
            <input placeholder="Work Location" name="workLocation" type="text" [(ngModel)]="details.workLocation" ngModel />
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-style-agile">
            <label>
              Work Place Phone Number
              <i class="fa fa-unlock-alt"></i>
            </label>
            <input placeholder="Work Place Phone Number" name="workPlacePhoneNumber" type="text" [(ngModel)]="details.workPlacePhoneNumber" ngModel />
            <small id="headingHelp" class="form-text text-muted"></small>
          </div>

          <input type="submit" value="Update" />
        </form>

      </div>
    </div>
    <div class="col-sm-12">
      <app-footer></app-footer>
    </div>
  </div>