<div>
  <!-- <p>Details:</p>
  <p>id:  {{hero.id}}</p>
  <p>name:  {{hero.name|uppercase}}</p> -->
  <!-- <label>Name:
  <input [(ngModel)]="hero.name" placeholder="name"/>
</label> -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

  <!-- <div>
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name" />
      </label>
    </div>
  </div> -->
