<!-- <div>
  <app-header></app-header>
  <div class="row">
    <div class="col-sm-3">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-sm-9">
    <input type="search" name="search" placeholder="enter name" [(ngModel)]="search" />
    <button (click)="onSearch()">search</button>
    <div class="card-container salarycard ">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <table class="table table-borderless" style="text-align:justify" *ngIf="details">
            <tr>
              <td> EmployeeId:</td>
              <td>
                <h3>{{details.employeeId}}</h3>
              </td>
            </tr>
            <tr>
              <td> Name:</td>
              <td>
                <p>{{details.name}}</p>
              </td>
            </tr>
            <tr>
              <td> Designation:</td>
              <td>
                <p>{{details.designation}}</p>
              </td>
            </tr>
            <tr>
              <td> PrimaryMobileNumber:</td>
              <td>
                <p>{{details.primaryMobileNumber}}</p>
              </td>
            </tr>
            <tr>
              <td> Department :</td>
              <td>
                <p>{{details.department}}</p>
              </td>
            </tr>
            <tr>
              <td> workLocatiuon :</td>
              <td>
                <p>{{details.workLocation}}</p>
              </td>
            </tr>
            <tr>
              <td> Comapany :</td>
              <td>
                <p>{{details.companyEmailId}}</p>
              </td>
            </tr>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
  -->
<!-- <p *ngFor="let info of details">
 {{details.name}}
</p> -->
<app-header></app-header>
<div class="row">
  <div class="col-sm-3">
    <app-left-menu></app-left-menu>
  </div>
   <div class="col-sm-9">
     <br/>
      <input type="search" name="search" placeholder="enter name" [(ngModel)]="search" />
      <button (click)="onSearch()">search</button>
      <div>
      <form class="form-horizontal" method="post">
        <fieldset *ngIf="details">
          <legend class="text-center header">Employee data</legend>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
            Employee Id :<span> {{details.employeeId}}</span>
          </div>
          <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
            Name : <span>{{details.name}}</span>
          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
            EmailId :<span>{{details.companyEmailId}}</span>
          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
            Phone : <span>{{details.primaryMobileNumber}}</span>
          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
            Department : <span>{{details.department}}</span>

          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
            Designation : <span>{{details.designation}}</span>
          </div>
        </fieldset>
      </form>
    </div>
    </div>
  </div>
<app-footer></app-footer>