
<!-- <app-view-component></app-view-component> -->
<b>{{title | uppercase}}</b>
<button (click)="get_events()">GetEvents</button>
<ul>
  <li *ngFor="let event of events">id:{{event.eventId}}<br/>
    name:{{event.eventName}}<br/>
    description:{{event.description}}<br />
    startDate:{{event.startDate}}<br/>
    endDate:{{event.endDate}}
  </li>
</ul>
<div>
  <select (change)="changeMonth($event)">
    <option *ngFor="let i of months">
  {{i}}
    </option>
  </select>
</div>
<span *ngIf = "isavailable;then condition1 else condition2">Condition is valid.</span>
<ng-template #condition1>Condition is valid</ng-template>
<ng-template #condition2>Condition is invalid</ng-template>
<div>
  <button (click)="onclick($event)" >Click Me</button>
  <input type="text" (click)="onNameKeyUp($event)" ngModel/>
</div>
<p>{{name|uppercase}}</p>
<div>
<b>{{todayDate}}</b>
</div>
<b>{{dateMessage}}</b>
<h1>Currency Pipe</h1>
<b>{{6589.23 | currency:"USD"}}</b><br/>
<b>{{6589.23 | currency:"USD":true}}</b> //Boolean true is used to get the sign of the currency.
]
<div style = "width:40%;float:left;border:solid 1px black;">
  <h1>Json Pipe</h1>
  <b>{{ jsonval | json }}</b>
  <h1>Percent Pipe</h1>
  <b>{{00.54565 | percent}}</b>
  <h1>Slice Pipe</h1>
  <b>{{months | slice:2:6}}</b> 
  // here 2 and 6 refers to the start and the end index
</div>
<br/>
<br/>
<br/>
<div style = "width:40%;float:left;border:solid 1px black;margin: 50px">
  <h1>Date pipe</h1>
        <b>{{todayDate | date:'d/M/y'}}</b><br/>
        <b>{{todayDate | date:'shortTime'}}</b>
  </div>
<!-- custom pipe  -->
<div style="margin-top: 320px">
  <b>Custom pipe</b>
  <p>
  <span>the sqrt of {{cs}} : </span><b>{{cs|sqrt}}</b>
</p>
</div>

<app-view-component></app-view-component>
<router-outlet></router-outlet>
