.navbar{
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e66565;
    width:100%;
    height:70px;
}
li {
    float:left;
}
li a {
    display: block;
    padding: 10px;
   color :rgb(204, 198, 198);
   text-decoration: none;
   line-height: 50px;
}
li a:hover {
 color : white;
}
.active {
    background-color: #e66565;
}
.lihelp {
    float:right;
}
.logo {
    width:50px;
    height:50px;
}
.element{
    margin-top: -210px;
}
/* .input-field {
    width: 100%;
    height: 10px;
    padding: 10px;
    outline: none;
    margin-left: 20px;
  } */
#btn {
    font-size: 13px;
    background-color: #e66565;
    color:white;
    
}
.main {
    background-color: white;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    margin: 250px;
    height: 100px;
    /* padding-top:0px; */
}
.redimg {
    float: left;
    /* margin-left: 0px; */
    padding: -5px;
}
.content {
    float:right;
    padding:-50px;
    margin-top:-95px;
    overflow: auto;
}
.body {
    padding-top: 0px;
    margin-top: -90px;
}
.building {
    padding: 10px;
    background:white;
    color: gray;
    height:14px;
    min-width: 15px;
    text-align: center;
    border-color: rgb(210,210,210);
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    border:2px;
    /* float:left; */
  }
  .input-container hover{
    color:rgb(65, 65, 241);
  }
  .b1{
      float: left;
      margin-left: 40px;
       padding: 20px;
      transition: transform .2s;
      /* width: 70px;*/
      
      border:1px solid gray; 
  }
  /* .b1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    /* -webkit-transform: scale(1.5); /* Safari 3-8 */
    /* transform: scale(1.5); 
  } */ */ */
  p {
      align-content: center;
  }
.body1 {
    margin-top: -200px;
    padding :10px;
    margin-bottom:-120px;
}