table1, td1, th1 {
    border : 2px solid black;
    border-collapse : collapse;
    text-align : center;
    font-size : 20px;
    font-family : Arial, Helvetica, sans-;

  
  }
  th1{
    color : black;
    padding : 10px;
    height : 20px;
    background-color :blue;
  }
  table1 {
    width : 100%;
  }
  td1 {
    height : 20px;
    padding : 15px;
  }
  tr1:hover {background-color : #f5f5f5;}
  tr1{
    background-color : rgb(229, 231, 233);
  }